body{
    background-color: rgba(33.3, 20.4, 0.7);
    color:rgba(170, 126, 57, 1);
}


h1{
    color:rgba(170, 126, 57, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    border-bottom: 2px solid rgba(170, 126, 57, 1);
    border-right: 2px solid rgba(170, 126, 57, 1);
    width: 300px;
    text-align: center;
    margin: 0px;

}

img{
    width: 350px;
    height: 250px;
    margin:4px;
    transition: all 1s;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img:hover{
    transform: scale(1.1);
}

li{
    list-style: none;
    color:rgba(170, 126, 57, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    border-bottom: 2px solid rgba(170, 126, 57, 1);
    border-right: 2px solid rgba(170, 126, 57, 1);
    border-left: 2px solid rgba(170, 126, 57, 1);
    width: 250px;
    float: left;
    
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    color:rgba(170, 126, 57, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

a{
    color:rgba(170, 126, 57, 1);
    text-decoration: none;

}

a:hover{
    transform: scale(1.1);
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }